main{
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.login-card{
    margin: 2% 0;
    border: solid;
    width: 40%;
    height: 400px;
    display: flex;
    border-radius: 13px;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 25px black;
}

.formulario-content{
   width: 100%;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.formulario label{
    font-size: x-large;
}

.formulario input{
    width: 60%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 35px;
    border-radius: 13px;
    border: solid;
    background-color: #e6e9ec;
}

#boton{
    width: 30%;
    border-radius: 32px;
    font-size: 20px;
    color: white;
    background-color: #810C0C;
    transition: transform 0.3s, background-color 0.3s;
}

#boton:hover{
    scale: 1.3;
    background-color: lightblue;
    color: black;
}

@media (max-width: 950px) {

    main{
        margin-top: 50px;
    }
    
    .login-card{
        width: 70%;
        height: 420px;
        text-align: center;
    }

    #boton{
        width: 50%;
    }
}