/*Estilos generales*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/*Estilos del index*/
.content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

body{
    background-color: #e6e9ec;
}

header{
    position: fixed;
    display: flex;
    width: 100%;
    height: 20%;
    background-color: #810C0C;
    z-index: 1000;
}

#logo{
    position: relative;
    max-height: 250px;
    padding-bottom: 30px;
}

header .menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

header .menus{
    display: flex;
    justify-content: center;
    width: 30%;
}

header .menus ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

header .menus ul a{
    display: flex;
    position: relative;
    padding: 20% 25px;
    color: white;
    text-decoration: none;
}

main{
    width: 100%;
    height: 80%;
}


main section article .welcome video{
    width: 100%;
    height: auto;
}

h2{
    margin-top: 20px;
    margin-left: 30px;
}

.content-carta {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    margin-top: 20px;
    align-items: center;
}

.table-menu{
    padding: 20px 50px;
    padding-right: 0;
}

.table-menu table {
    width: 100%; 
    border: 2px solid black; 
    border-collapse: collapse;
    text-align: left; 
}


.table-menu th {
    background-color: #810C0C; 
    color: white;
    border: 2px solid black; 
    padding: 10px; 
    text-align: center; 
}


.table-menu td {
    border: 2px solid black;
    padding: 8px;                     
}


.table-menu tr:nth-child(even) {
    background-color: #f9f9f9; 
}

.table-menu tr:nth-child(odd) {
    background-color: #ffffff; /* Fondo blanco en filas impares */
}

.boton-reservar{
    height: 70px;
    width: 190px;
    border: solid;
    margin: 0px auto;
    margin-bottom: 40px;
    background-color: #00C8FF;
}

#texto-boton{
    text-align: center;
    padding-top: 25px;
}

#texto-boton:hover{
    color: white;
}

.content-comentarios{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0;
}

.comentario{
    height: 400px;
    width: 300px;
    border: solid;
    background-color: #D9D9D9;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 1;
}

.imagen-coment{
    height: 40%;
}

.imagen-coment img{
    width: 100%;
}

#imagen1{
    height: 250px;
}

#imagen3{
    height: 250px;
}

.usuario{
    font-size: xx-large;
    text-align: center;
}

.reseña{
    text-align: center;
}

footer {
    width: 100%;
    background-color: #810C0C;
    padding: 20px 0;
    color: white;
}

.footer-content {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    padding: 50px 20px;
}


.caja1-footer {
    width: 100%; 
    display: flex;
    justify-content: center; 
    margin-bottom: 20px; 
}

#logo-footer {
    max-width: 150px;
    height: auto;
}

/* Métodos de pago */
.metodos-pago {
    width: 100%; /* Ocupa todo el ancho */
    text-align: center;
    margin: 20px 0;
}

.metodo {
    display: inline-block;
    margin: 5px;
}

.metodo img {
    height: 40px;
    width: auto;
}

/* Caja de enlaces */
.caja2-footer {
    width: 100%; /* Pantallas pequeñas */
    text-align: center;
}

.caja2-footer ul {
    list-style-type: none;
    padding: 0;
}

.caja2-footer ul li {
    padding: 10px 0;
}

#derechos{
    text-align: center;
}

/*Responsive del index*/
@media (max-width: 768px) {
    header {
        position: relative;
        width: 100%;
    }


    
    header .menus {
        display: none;
    }

    h2{
        text-align: center;
    }

    .table-menu {
        width: 90%; 
        margin: 10px 0; 
        padding-left: 2px;
        padding-right: 10px;
    }

    .table-menu table {
        width: 100%; 
    }

    
}
